/Seccion2/VariablesEnJava/dist/
/Seccion45/ManejoDeArchivos/nbproject/private/
/Seccion2/Concatenacion/nbproject/private/
/Seccion2/Concatenacion/build/
/Seccion2/Concatenacion/dist/
/Seccion2/CaracteresEspeciales/nbproject/private/
/Seccion2/CaracteresEspeciales/dist/
/Seccion2/CaracteresEspeciales/build/
/Seccion2/Scanner/nbproject/private/
/Seccion2/Scanner/build/
/Seccion2/Scanner/dist/
